
.my span{
    color: blue;
}
ul{
    margin-left: 200px;
}
.li{
    list-style: none;
    display: flex;
    display: inline;
    padding: 0px;
    justify-content: space-between;

}
.rqst{
    background-color: blue;
    float: right;
}

li.my{
    font-size:large;
    font-weight: bold;

}
.li{
    margin-left: 150px;
    padding:opx 10px;
   
}
header{
    background-color: white;
    border: 10px;
}
.sect{
    background-image: url("images/bg.png");
    color: white;
   background-size: cover;
   background-position: center;
   height: 500px;
}
.column h1,p{
    text-align: center;
   margin-bottom: 0px;

}
.column h1{
    padding:70px;
    font-size: xx-large;
}

.Service button1{
    background-color: darkblue;
    padding: 20px;
    margin-left: 500px;
   float: left;
   
}